<div class="products">
  <div class="product-card" *ngFor="let item of products">
    <div class="product-image">
      <img [src]="item.image" [alt]="item.name" />
    </div>
    <h3>{{ item.name }}</h3>
    <p class="product-price">Price: ₱{{ item.price }}</p>
    <p *ngIf="item.available; else outStock" class="availability available">Available</p>
    <ng-template #outStock>
      <p class="availability out-of-stock">Out of Stock</p>
    </ng-template>
    <button (click)="addToCart(item)" [disabled]="!item.available">Add to Cart</button>
  </div>
</div>
