/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  overflow-x: hidden;
}

body {
  display: block;
  width: 100%;
}

app-root {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}
